//@import "../../../assets/sass/date-picker";
/*.actions {
    i {
        cursor: pointer;
        font-size: rem(17);
        padding: rem(8);
        color: #576277;
        border-radius: rem(4);
        &:hover {
            color: $blue;
            background: $border-color;
        }
    }
}*/