/* Custom styles for simulation */
/* Pixel to REM */
/* Declaring Variables */
/* line 4, ../sass/simulation.scss */
.unscheduled-task-list {
  border-top: solid 1px rgba(49, 40, 87, 0.2);
  margin-top: 2.6875rem;
  padding-top: 1.75rem;
  font-size: 0;
}
/* line 9, ../sass/simulation.scss */
.unscheduled-task-list h6 {
  margin-bottom: 0.25rem;
}

/* line 13, ../sass/simulation.scss */
.card {
  font-size: 0.875rem;
  color: #312857;
}
/* line 16, ../sass/simulation.scss */
.card:nth-of-type(6n) {
  margin-right: 0;
}
/* line 19, ../sass/simulation.scss */
.card h5 {
  font-weight: bold;
  margin-bottom: 1.3125rem;
}
/* line 23, ../sass/simulation.scss */
.card p {
  margin-top: 0.875rem;
}
/* line 25, ../sass/simulation.scss */
.card p span {
  margin-right: 0.9375rem;
}
