/* card */

.card {
	width: 17rem;
	margin-right: rem(20);
	margin-top: rem(24);
	box-shadow: 0 0 rem(15) 0 rgba(59, 59, 97, 0.14);
	border-radius: $border-radius-large;
	padding: rem(17) rem(19.2) rem(22);
	display: inline-block;
	&:nth-child(7n) {
		margin-right: 0;
	}
}
