@font-face {
    font-family: 'Arial-BoldMT';
    src: url('../fonts/arial-mt-bold/Arial-BoldMT.eot?#iefix') format('embedded-opentype'), url('../fonts/arial-mt-bold/Arial-BoldMT.woff') format('woff'), url('../fonts/arial-mt-bold/Arial-BoldMT.ttf') format('truetype'), url('../fonts/arial-mt-bold/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/arial-mt/ArialMT.eot?#iefix') format('embedded-opentype'), url('../fonts/arial-mt/ArialMT.woff') format('woff'), url('../fonts/arial-mt/ArialMT.ttf') format('truetype'), url('../fonts/arial-mt/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
